/* CSS Document */

body {
  margin: 0 auto;
  padding: 0;
  background: #5e4d36;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 17px;
}
#header {
  padding: 0;
  margin: 0;
  height: 600px;
}

/* COMMON CLASSES */
.break {
  clear: both;
}

.headerimg {
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  position: absolute;
}

/* NAVIGATION */
#nav-outer {
  position: relative;
  top: 24px;
  background: rgba(175, 188, 82, 0.8);
}
#navigation #logo img {
  height: 80px;
  padding: 20px;
}

/* HEADER TEXT */
#headertxt {
  clear: both;
  position: relative;
  top: 114px;
  font-family: "Lobster Two", cursive;
}
#firstline {
  background-image: url("./images/textbg.png");
  color: #333;
  font-size: 48px;
  padding: 4px 13px;
  float: left;
  display: block;
}
#secondline {
  background-image: url("./images/textbg.png");
  color: #69553a;
  text-decoration: none;
  font-size: 78px;
  line-height: 80px;
  padding: 0 18px 18px 18px;
  float: left;
  display: block;
  clear: both;
}
#secondline:hover {
  text-decoration: underline;
  color: #7f000c;
}

/* CONTROLS */
.btn {
  height: 32px;
  width: 32px;
  float: left;
  cursor: pointer;
  display: none;
}
#back {
  background-image: url("./images/btn_back.png");
}
#next {
  background-image: url("./images/btn_next.png");
}
#control {
  background-image: url("./images/btn_pause.png");
}

/* HEADER HAVIGATION */
#headernav-outer {
  position: relative;
  top: 400px;
  margin: 0 auto;
  width: 960px;
}
#headernav {
  padding-left: 864px;
}

#menu {
  position: absolute;
  right: 20px;
  top: 10px;
}
#menu a {
  padding: 36px 0 36px 0;
  display: inline-block;
  color: #f5f5f5;
  min-width: 100px;
  text-align: center;
  background-position: center 20px;
  background-repeat: no-repeat;
  font-family: "Lobster Two", cursive;
  font-size: 22px;
  border-radius: 50px;
  margin-left: 10px;
}
#menu a:first-child {
}
#menu a:last-child {
  border: none;
}
#menu a:hover {
  background-color: #b17d6f;
}
#menu .selected,
#menu .selected:hover {
  background-color: #5e4d36;
}

.content {
  width: 940px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

#cuerpo {
  border-top: 1px solid #4f4432;
  padding: 10px 0;
  background: #fff;
}

#footer {
  color: #fff;
  background: #5e4d36;
  padding: 20px 0;
  font-family: "Lobster Two", cursive;
}
h1,
h2,
h3,
h4 {
  font-family: "Lobster Two", cursive, Arial, Helvetica, sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 2.8em;
  margin-top: 10px;
  line-height: 54px;
}
h2 {
  font-size: 2em;
}

a {
  color: #b8c753;
  text-decoration: none;
}
a:hover {
  color: #b17d6f;
}
.disclamer {
  font-size: 10px;
}
::selection,
::-moz-selection {
  background: #b8c753;
  color: #f5f5f5;
}

#copy {
  font-size: 16px;
  text-align: center;
}
